
@-ms-viewport{
  width: device-width;
}


.navbar{
    padding-top: 30px;
}
.nav-link{
color:hsl(228, 39%, 23%);
}

#home{
    height: 100%;
}

.home-left{
    display: flex;
    flex-direction: column;
/*    height: 90%;*/
/*    text-align: start;*/
}
.home-right{
        display: flex;
    flex-direction: column;
    justify-content: center;
/*align-self: center;*/
/*    height: 100%;*/
}


body{
    height: 100%;
    font-family: 'Be Vietnam', sans-serif;
    background-image: url("bg-simplify-section-desktop.svg");
   
    background-repeat: no-repeat;
background-size: 100% 30%;
    
      z-index: -10;
    display: flex;

    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-self: center;
     width: 100vw;
}

.btn{
    border-radius: 25px;
    background-color: hsl(12, 88%, 59%);
    color: white;
    font-size: 16px;
}
.btn:hover{
    opacity: 0.5;
    color:white;
}

.row{
    height: 87%;
}
.h-title{
    width: 400px;
    font-weight: 700;
}
.h-text{
    width: 300px;
     color: hsl(227, 12%, 61%);
    font-weight: 400;
}

h1,h2,h3,h4,h5,h6{
    color:hsl(228, 39%, 23%);
}

p{
    font-weight: 400;
        color: hsl(227, 12%, 61%);
    Font size: 16px
}
.h-content-box{
   
    
    display: flex;
    flex-direction: column;
    justify-content: center;
/*align-self: center;*/
    height: 100%;

    
}

#about{
    height: 100%;
}
.about-sub{
    display: flex;
}



.btn-number{
    width: 70px;
}


.about-content-left{
    width: 300px;
}
.about-title{
    width: 400px;
}

.about-sub{
    display: flex;
    text-align: center;
    align-self: center;
    height: 100%;
}

.about-sub-title{
    height: 100%;
/*    margin: 0;*/
    padding-left: 20px;
    text-align: center;
    align-self: center;
    
}
.about-content{
    width: 450px;
    padding-left: 90px;
    
}


.t-button-box{
    width: 100%;
    justify-content: center;
    text-align: center;
}
#testimonials{
    height:100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.t-title-box{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}


.t-box{
    position:relative;
/*    width: 100%;*/
    height: 250px;
    text-align:center;
    background-color:hsl(0, 0%, 98%); 
    padding: 10px;
    margin: 20px;
}

.t-img{
     position: absolute;
/*       left: 0px;*/
       top: -60px;
    left: 33%;
    width: 33%;
    height: 32%;
}

.t-box-text{
/*    position: absolute;*/
/*    text-align: center;*/
/*    align-self: baseline;*/
    height: 100%;
/*    align-items: baseline;*/
   display: flex;
    justify-content: center;
/*    text-align: center;*/
/*    vertical-align: bottom;*/
    flex-direction: column;
    
    
}

.testimonials-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#advertising{
    background-image: url("bg-simplify-section-desktop%20copy.svg");
  
    height: 100%;
    background-repeat: no-repeat;
     background-color: hsl(12, 88%, 59%);

}

.ad-left{
    display: flex;
    justify-content: center;
/*    padding-left: 100px;*/
align-content: center;
    align-items: center;
    height: 100%;
    
   
}

.ad-right{
    display: flex;
    text-align: center;
    justify-content: center;
      align-items: center;
    padding-left: 100px;
}
.btn-ad{
    border-radius: 25px;
   color: hsl(12, 88%, 59%);
    background-color: white;
    font-size: 15px;
}

.ad-title{
    color: white;
}

.ad-box{
    height: 100%;
}



#footer{
    background-color: hsl(233, 12%, 13%);
    height: 100%;
}

.footer-logo{
    padding-top: 20px;
   filter: invert(100%;)
    
}

.footer-left{
/*      padding-top: 10px;*/
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100%; 
}

.footer-links1 , .footer-links2, .footer-brand-icons{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 20vh;
    justify-content: center;
    align-self: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-brand-icons{
    padding-left: 30px;
    padding-right: 60px;
}

.f-link{
    padding: 3%;
    color: white;
    opacity: 0.7
}

.footer-logo{
    padding-bottom: 40px;
    
}


.footer-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
/*    align-content: flex-end;*/
/*    align-self: flex-end;*/
/*    border: solid;*/
    align-items: flex-end;
    padding-right: 20px;
/*    padding-top: 30px;*/
    height: 100%;
    
}


.footer-button{
/*    padding-bottom: 20px;*/
/*    padding-left: 30px;*/
    
}

.copyright{
    opacity: 0.5;
}

.footer{
/*    border: solid;*/
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
    
}



.footer-icons{
        display: flex;
        justify-content:space-between;
    }

.f-box-input{
    display: flex;
/*    justify-content: center;*/
/*    text-align: center;*/
/*    justify-content: space-between;*/
/*    width: 100%;*/
        
}

.f-main-box{
    height: 100%;
}